/src/.eggs/README.txt
/src/.eggs/pytest_runner-2.9-py3.5.egg
/src/DJRQ2.egg-info/PKG-INFO
/src/DJRQ2.egg-info/SOURCES.txt
/src/DJRQ2.egg-info/dependency_links.txt
/src/DJRQ2.egg-info/namespace_packages.txt
/src/DJRQ2.egg-info/requires.txt
/src/DJRQ2.egg-info/top_level.txt
__pycache__/
/src/web/app/djrq/public/bootstrap/
