.packaging/
.eggs/README.txt
.eggs/pytest_runner-2.9-py3.5.egg
DJRQ2.egg-info/PKG-INFO
DJRQ2.egg-info/SOURCES.txt
DJRQ2.egg-info/dependency_links.txt
DJRQ2.egg-info/namespace_packages.txt
DJRQ2.egg-info/requires.txt
DJRQ2.egg-info/top_level.txt
__pycache__/
web/app/djrq/public/bootstrap/
/web/app/djrq/config.yaml
