# For Ubuntu/Mint, copy this file to /lib/systemd/system
# Edit the ExecStart command to point to where djrq2 is installed
# Also you will need to install daemontools: sudo apt install daemontools
# To enable the service once you've edited this files and copied it:
# sudo systemctl daemon-reload
# sudo systemctl enable djrq2
# sudo systemctl start djrq2

[Unit]
Description = djrq2 daemon
Wants = network.target

[Service]
User=brian
Group=brian
Type = forking
ExecStart = /sbin/start-stop-daemon -p /var/run/djrq2.pid -d /home/brian/djrq2-workingcopy/djrq2 -b -a /home/brian/djrq2-workingcopy/bin/python -S -- -O -m web.app.djrq
ExecStop = /sbin/start-stop-daemon -p /var/run/djrq2.pid -K
Restart=always

[Install]
WantedBy = multi-user.target
